{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Portfolio</title>
    <link rel="icon" type="image/jpeg" sizes="undefinedxundefined" href="{% static 'img/bg-masthead.jpg' %}">
    <link rel="icon" type="image/jpeg" sizes="undefinedxundefined" href="{% static 'img/portfolio-2.jpg'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact-Form-Clean.css'%}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css'%}">
</head>

<body id="page-top"><a class="menu-toggle rounded" href="#"><i class="fa fa-list-ul"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler d-none" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand" role="presentation"><a class="nav-link active js-scroll-trigger" href="#page-top">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#page-top">Home</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#services">Services</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contribution">Contribution</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="https://drive.google.com/open?id=17Obh55H2oAt3t4lcRF8c27nNrk_Rq-gs">Resume</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background-image:url('{% static "img/bg-masthead.jpg" %}');">
        <div class="container my-auto text-center">
            <h1 class="mb-1">Saurabh Jindal</h1>
            <h3 class="mb-5"><em>Bug Bounty Hunter | Python Developer</em></h3><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="#about">Find Out More</a>
            <div class="overlay"></div>
        </div>
    </header>
    <section id="about" class="content-section bg-light">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>Greetings Saurabh Jindal welcomes you</h2>
                    <p class="lead mb-5">Hi, I am Saurabh Jindal a student of Bechelor of Technology (B.Tech) in Computer Science at Maharaja Agrasen institute of Technology. I am talented, resourceful, self motivated, Cyber Security Analyst having extensive experience in
                        Web Application Pentesting and System Security and a Python Developer for the Web Application.I have written a lot of python scripts over 1000 lines of code.</p><a class="btn btn-dark btn-xl js-scroll-trigger" role="button" href="#services">What I Offer</a></div>
            </div>
        </div>
    </section>
    <section id="services" class="content-section bg-primary text-white text-center">
        <div class="container">
            <div class="content-section-heading">
                <h3 class="text-secondary mb-0"></h3>
                <h2 class="mb-5">What I Offer</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-screen-smartphone"></i></span>
                    <h4><strong>Cyber Security Analysis</strong></h4>
                    <!-- <p class="mb-0 text-faded">Looks great on any screen size!</p> -->
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-pencil"></i></span>
                    <h4><strong>Web Development</strong></h4>
                    <!-- <p class="mb-0 text-faded">Freshly redesigned for Bootstrap 4.</p> -->
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-like"></i></span>
                    <h4><strong>System Security</strong></h4>
                    <!-- <p class="mb-0 text-faded"><span>Milions of users&nbsp;</span><i class="fa fa-heart"></i><span>&nbsp;us!</span></p> -->
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0"><span class="mx-auto service-icon rounded-circle mb-3"><i class="icon-mustache"></i></span>
                    <h4><strong>VAPT</strong></h4>
                    <!-- <p class="mb-0 text-faded">I mustache you a question...</p> -->
                </div>
            </div>
        </div>
    </section>
    <section id="contribution" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <!-- <h3 class="text-secondary mb-0">Portfolio</h3> -->
                <h2 class="mb-5">Contributions</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>The Hosteller</h2>
                                <p class="mb-0">Cyber Security Analyst Intern</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-1.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>OpenCode-MAIT</h2>
                                <p class="mb-0">Cyber Security Head Mentor</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-2.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>GDG-MAIT</h2>
                                <p class="mb-0">Member</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-3.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>OWASP</h2>
                                <p class="mb-0">Cybersecurity non profit national organisation</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-4.jpg'%}"></a>
                </div>
                <!-- <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2></h2>
                                <p class="mb-0">Cybersecurity non profit national organisation</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/portfolio-4.jpg"></a>
                </div> -->
                
            </div>
        </div>
    </section>


    <!--Repeated -->
    <section id="portfolio" class="content-section">
        <div class="container">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Campsite</h2>
                                <p class="mb-0">Responsive Website to analyse your camping experience</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-1.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Envimaps</h2>
                                <p class="mb-0">Save environment initiative involving the socially aware people</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-2.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>BHPNet</h2>
                                <p class="mb-0">Python script on the go to use as a swiss army knife</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-3.jpg'%}"></a>
                </div>
                <div class="col-lg-6">
                    <a class="portfolio-item" href="#">
                        <div class="caption">
                            <div class="caption-content">
                                <h2>Insecure Cors</h2>
                                <p class="mb-0">Pyhton script to find the security of your headers against insecure cors</p>
                            </div>
                        </div><img class="img-fluid" src="{% static 'img/portfolio-4.jpg'%}"></a>
                </div>
                
            </div>
        </div>
    </section>


    <!-- end -->
    <section class="content-section bg-primary text-white">
        <div class="container text-center">
            <h2 class="mb-4">These are to make a contact with me</h2><a class="btn btn-light btn-xl mr-4" role="button" href="#contact">Hire Me</a><a class="btn btn-dark btn-xl mr-4" role="button" href="#contact">Contact me</a></div>
    </section>
    <div class="contact-clean">
        <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <h2 class="text-center" id="contact">Contact me</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col item social"><a href="https://www.facebook.com/saurabhjindal533"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/jindalsaurabh1"><i class="icon ion-social-twitter"></i></a><a href="https://www.linkedin.com/in/jindalsaurabh533/"><i class="icon ion-social-linkedin"></i></a>
                        <a
                            href="https://www.instagram.com/jindal_saurabh01/"><i class="icon ion-social-instagram"></i></a><a href="https://github.com/saurabh-jindal"><i class="icon ion-social-github"></i></a><a href="https://t.me/saurabh_jindal"><i class="fab fa-telegram"></i></a></div>
                </div>
                <p class="copyright">All Rights Reserved</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'javascript/jquery.min.js'%}"></script>
    <script src="{% static 'javascript/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'javascript/stylish-portfolio.js'%}"></script>
</body>

</html>